@charset "utf-8";

*,*:after,*:before {box-sizing:border-box;}
body {font-size:0.9rem;}
a {text-decoration:none;color:#333;}

#slide {width:100%;position:relative;overflow:hidden;}
#slide img {width:100%;}
#slide ul {position:relative; left:0;overflow:hidden;width:300%;
display: flex;}
#slide ul li {width:33.33%;;}



.prev {position: absolute;left:0;top:50%;transform:translateY(-50%);}
.next {position: absolute;right:0;top:50%;transform:translateY(-50%);}

#roll {position:absolute;bottom:5px;left:50%;transform:translateX(-50%);}
#roll a {display:inline-block;width:10px;height:10px;border-radius:5px;
    background: #fff;
margin-right:5px;}
#roll a:nth-child(3) {margin-right:0;}
#roll a.active {background: #000;}

