@charset "utf-8";

* {box-sizing: border-box;}
.logo1 {width: 80%; margin: 0 auto; display: flex; justify-content: center; height: 100px; margin-top: 80px; margin-bottom: 80px;}
#menu {width: 100%; height: 80px; margin-bottom: 30px; padding-top: 15px; border-top: 1px solid #000;}
#menu ul{width: 70%; margin: 0 auto; display: flex;}
#menu li{width: 20%; display: inline-block; justify-content: space-between; text-align: center;}
#menu a{font: 30px "pretendard"; color: #000; text-decoration: none;}

#banner {width: 100%; display: flex; justify-content: center;}

#product {width: 90%;  text-align: center; margin-top: 7rem; margin-left: auto; margin-right: auto;}
#product h2{font: 30px "pretendard"; margin-bottom: 2rem;}
.list {width: 100%; margin: 1rem auto 2rem; }
.list img{width: 100%; display: block}
.list ul { display: flex; flex-wrap: wrap; justify-content: space-between; list-style: none; padding: 0; gap: 20px;}  
.list ul li{flex: 0 1 calc(25% - 15px); border:1px solid #686868; padding: 20px; }
.list ul li span{display: block; text-align: center;}

.ctg{color: #686868; font-size: 0.9rem; margin: 25px 0 10px;}
.namek{color:#686868; font-size: 0.9rem; margin: 5px 0 2px;}
.name{color:#686868; font-size: 0.9rem; margin-bottom: 5px;}
.price{font-family: "Book Antiqua"; font-size: 20px; margin-bottom: 25px;}
.list p a{font-size: 0.8rem; font-weight: bold; text-decoration: none; color:#b8b8b8;}
.button {border: 0.5px solid #b8b8b8; border-radius: 20px; height: 50px; align-content: center; margin-bottom: 10px;}
.button:hover{ border: 0.5px solid #000; background-color: #000;}


#desc h3{font: 35px "Book Antiqua"; text-align: center; margin: 7rem auto 3rem;}
#desc p{color: #686868; text-align: center; line-height: 1.8;}
.p2{margin: 2rem auto;}
.p3{margin-bottom: 7rem;}


#card ul{display: flex; flex-wrap: wrap; list-style: none; margin: 0; padding: 0;}
#card li{width: 25%; background-color: beige;}
#card li img{width: 100; height: auto; aspect-ratio: 4/3; object-fit: cover; display: block;}

#card li span{display: block; text-align: center;}
.title{font: bold 16px "Book Antiqua"; margin: 2rem 0 1rem;}
.dsc1{font: 15px "창원단감둥근"; margin-bottom: 2rem; line-height: 1.6;}
.em{font: 14px "Book Antiqua"; color:#b8b8b8 ; margin-bottom: 1rem;}

#insta{ width: 90%; margin-left: auto; margin-right: auto;}
#insta h2{font: 30px "pretendard"; margin: 5rem auto 3rem; text-align: center;}
#insta ul{display: flex; flex-wrap: wrap; list-style: none; }
#insta li{width: 20%; padding-left: 2px;}
#insta li img{width: 100%}

#footer{margin-top: 7rem;}
#footer >ul {display: flex; justify-content: space-between; align-items: center; list-style: none;}
.logof {padding-left: 1rem; padding-right: 3rem; flex: 0.3;}
.logof img{width: 90%; }
.footmenu{flex: 2.6;}

.footm1 li{display: inline-block; padding-right: 10px; line-height: 2;}
.footm1 li a{font-size:  16px; font-weight: bold; color: #9a9a9a; text-decoration: none;} 
.footm1 li:before{content: "|"; padding-right: 10px; color: #9a9a9a;}
.last:after {content: "|"; padding-left: 10px; color: #9a9a9a;}

.footm2 li {display: inline-block; padding-right: 10px; color: #b8b8b8; line-height: 2;}
.footm2 li.copy{display:block; margin-top: 1rem;}

.logog {flex: 1.1; text-align: right;}
.logof2 li{display: inline-block; list-style: none;  line-height: 2px; padding-right:10px; }
.logof2 img{width: 30px; height: 30px;}


